@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #0A0C10;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background: #0A0C10;
}

.container {
    padding: 10px 5%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 250px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

   nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    position: relative;
    display: inline-block;
    transition: transform 0.4s ease, color 0.4s ease;
    

}


nav ul li a:hover{
    transform: translateY(-5px);
    color: red;
    text-shadow: 0 0 8px rgba(220, 0, 0, 0.6);
}

.header-text {
    margin: 15%;
    font-size: 40px;
}

.header-text p {
    color: #dc0000;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}

.header-text h1 {
    font-size: 70px;
    margin-top: 20px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.header-text h1 span {
    color: #dc0000;
}

/*------------about me--------------*/

#about-me {
    padding: 80px 0px;
    color: #ababab;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(220, 0, 0, 0.2);
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #fff;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 2px;
    background: #dc0000;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 100%;
}

.tab-contents ul li {
    list-style: none;
    margin: 15px 0;
}

.tab-contents ul li span {
    color: #dc0000;
    font-size: 14px;
    font-weight: 600;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

/*--------------------Services----------------------*/

#service {
    padding: 30px 0;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.service-list div {
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.service-list div i {
    font-size: 50px;
    margin-bottom: 30px;
    color: #dc0000;
}

.service-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.service-list div p {
    color: #ababab;
}

.service-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.service-list div:hover {
    background: #dc0000;
    transform: translateY(-10px);
}

.service-list div:hover i {
    color: #fff;
}

/*---------------portfolio----------------*/

#portfolio {
    padding: 50px 0;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #dc0000);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer p {
    font-size: 14px;
}

.layer a {
    margin-top: 20px;
    color: #dc0000;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #dc0000;
    padding: 14px 50px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover {
    background: #dc0000;
}

/* -------------contact------------------- */

#contact {
    padding: 50px 0;
}

.contact-left {
    flex-basis: 35%;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;
    color: #ababab;
}

.contact-left p i {
    color: #dc0000;
    margin-right: 15px;
    font-size: 30px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #dc0000;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #dc0000;
    border: none;
}

.contact-right form {
    width: 100%;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
}

form input:focus, form textarea:focus {
    border: 1px solid #dc0000;
}

form .btn2 {
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

/* -------------footer------------------- */

#footer {
    padding: 30px 0;
    text-align: center;
    background: #262626;
    margin-top: 50px;
}

#footer p {
    color: #ababab;
}

/* -----------------------------------mobile view-------------------------- */

nav .fa-solid {
    display: none;
}

@media screen and (max-width: 600px) {
    #header {
        background: #0A0C10;
    }
    
    .header-text {
        margin-top: 20%;
        font-size: 16px;
    }
    
    .header-text h1 {
        font-size: 30px;
    }
    
    .header-text p {
        font-size: 16px;
    }
    
    nav .fa-solid {
        display: block;
        font-size: 25px;
    }
    
    nav ul {
        background: #dc0000;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding: 50px;
        transition: right 0.5s;
        z-index: 2;
    }
    
    nav ul li {
        display: block;
        margin: 25px;
    }
    
    nav ul .fa-solid {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    
    .sub-title {
        font-size: 40px;
    }
    
    .about-col-1, .about-col-2 {
        flex-basis: 100%;
    }
    
    .about-col-1 {
        margin-bottom: 30px;
    }
    
    .about-col-2 {
        margin-bottom: 14px;
    }
    
    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }
    
    .contact-left, .contact-right {
        flex-basis: 100%;
    }
    
    .work-list {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 900px) and (min-width: 601px) {
    .work-list {
        grid-template-columns: repeat(2, 1fr);
    }
    
    .header-text h1 {
        font-size: 50px;
    }
    
    .sub-title {
        font-size: 50px;
    }
}
